@import "tailwindcss";

@theme {
  --color-primary-600: #021C54;
  --color-primary-700: #000E38;

  --color-neutral-200: #FFFFFF;
  --color-neutral-700: #161616;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

#root {
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-primary-1);
}
